{% extends 'base.html' %}

{% block title %}Course List{% endblock %}

{% block header %}
<style>
    .star-container {
        width: 20px;
        height: 20px;
        overflow: hidden;
        /* object-fit: cover; */
        display: inline-flex;
    }
    .star-img {
        flex: 1;
        position: relative;
        height: 20px;
        object-fit: cover;
    }
</style>
<script>
    const ratio = 20;
    const createStar = (w) => {
        const starContainer = document.createElement('div');
        starContainer.className = 'star-container';
        if (w != 0) {
            const fullStar = document.createElement('img')
            fullStar.className = 'star-img';
            fullStar.src = '/static/img/star.svg';
            fullStar.style.width = `${w}px`;
            fullStar.style.objectPosition = `-${ratio}px 0`;
            starContainer.appendChild(fullStar);
        }
        const emptyStar = document.createElement('img')
        emptyStar.className = 'star-img';
        emptyStar.src = '/static/img/star.svg';
        emptyStar.style.width = `-${w}px`;
        emptyStar.style.objectPosition = `-${w}px 0`;
        starContainer.appendChild(emptyStar);
        return starContainer;
    };
    const genStars = (id, score) => {
        score = parseFloat(score);
        console.log(id, score);
        const container = document.getElementById(id);

        let stars = document.createElement('div');
        stars.className = 'stars';
        // stars.innerHTML = score;
        for (let i = 0; i < 5; i++) {
            let star;
            if (score >= 1) {
                star = createStar(ratio);
            } else if (score >= 0 && score < 1) {
                star = createStar(score * ratio);
            } else {
                star = createStar(0);
            }
            score -= 1;
            stars.appendChild(star);
        }
        container.appendChild(stars);
    };
</script>
{% endblock %}

{% block content %}
<div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 40px;">
    <h4 class="section-title bg-white text-center text-primary px-3">Course List</h4>
    <!-- <h1 class="mb-5">Record</h1> -->
</div>
    <div class="row g-4 justify-content-center" style="margin-top: 40px;">
    {% for c in courses %}
        
        
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="course-item bg-light">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="static/img/course-1.jpg" alt="">
                    <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                        <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                        <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                    </div> -->
                </div>
                <div class="text-center p-4 pb-0">
                    <h3 class="mb-0">$NT {{ c.COURSE_FEE }}</h3>
                    <div class="mb-3">
                        <span id="stars-{{c.COURSE_ID}}">
                        <script>genStars("stars-{{c.COURSE_ID}}", '{{c.AVG_STAR}}');</script>
                        <small>{{c.AVG_STAR}}</small>
                        <small>({{c.POPULATION}})</small>
                    </div>
                    <h5 class="mb-4">{{c.TITLE}}</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-book" aria-hidden="true"></i> {{ c.CATEGORY }}</small>
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-language" aria-hidden="true"></i> {{ c.LANGUAGE }}</small>
                </div>
                <div style="text-align:center;">
                <p><a href="/courses/{{c.COURSE_ID}}" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                </div>
            </div>
        </div>
        
    {% endfor %}
    </div>
{% endblock %}