{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
<h1>course</h1>
<!-- <table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Brief</th>
            <th>Price</th>
            <th>Language</th>
        </tr>
        {% for c in course %}
            <tr>
                <td>{{ c.COURSE_ID }}</td>
                <td>{{ c.TITLE }}</td>
                <td>{{ c.CATEGORY }}</td>
                <td>{{ c.BRIEF }}</td>
                <td>{NT${ c.COURSE_FEE }}</td>
                <td>{{ c.LANGUAGE }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p>
                    <img class="img-fluid" src="/static/img/category/{{ course.CATEGORY }}.jpg" alt="">
                </p>
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Course Details</span>
                    </h2>
                    <p class="mb-3"><strong class="text-black d-block">Teacher:
                    {% for i in instr_name %}
                    </strong>{{ i.NAME }}&emsp;
                    {% endfor %}
                    </p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Title:</strong>
                        {{ course.TITLE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Category:</strong>
                        {{ course.CATEGORY }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Fee:</strong>
                        NT$ {{ course.COURSE_FEE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Language:</strong>
                        {{ course.LANGUAGE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-comments" aria-hidden="true"></i> Brief:</strong>
                        {{ course.BRIEF }}</p>

                    <!-- <ul class="ul-check primary list-unstyled mb-5">
                        <li>{{ course.Brief }}</li>
                    </ul> -->

                    <p>
                        <a href="/user/enroll/{{ course.COURSE_ID }}" class="btn btn-primary rounded-0 btn-lg px-5">註冊</a>
                    </p>

                </div>
        </div>
    </div>
</div>
{% endblock %}