{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
<h1>course</h1>
<!-- <table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Brief</th>
            <th>Price</th>
            <th>Language</th>
        </tr>
        {% for c in course %}
            <tr>
                <td>{{ c.COURSE_ID }}</td>
                <td>{{ c.TITLE }}</td>
                <td>{{ c.CATEGORY }}</td>
                <td>{{ c.BRIEF }}</td>
                <td>{NT${ c.COURSE_FEE }}</td>
                <td>{{ c.LANGUAGE }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p>
                    <img src="images/course_5.jpg" alt="Image" class="img-fluid">
                </p>
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Course Details</span>
                    </h2>
                    
                    <p><strong class="text-black d-block">Teacher:</strong> Craig Daniel</p>
                    <p class="mb-5"><strong class="text-black d-block">Title:</strong>{{ course.TITLE }}</p>
                    <p class="mb-5"><strong class="text-black d-block">Category:</strong>{{ course.CATEGORY }}</p>
                    <p class="mb-5"><strong class="text-black d-block">Fee:</strong>NT$ {{ course.COURSE_FEE }}</p>
                    <p class="mb-5"><strong class="text-black d-block">Language:</strong>{{ course.LANGUAGE }}</p>
                    <p>{{ course.BRIEF }}</p>

                    <ul class="ul-check primary list-unstyled mb-5">
                        <li>{{ course.Brief }}</li>
                    </ul>

                    <p>
                        <a href="#" class="btn btn-primary rounded-0 btn-lg px-5">Enroll</a>
                    </p>

                </div>
        </div>
    </div>
</div>
{% endblock %}