{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block header %}
<style>
    .star-container {
        width: 20px;
        height: 20px;
        overflow: hidden;
        /* object-fit: cover; */
        display: inline-flex;
    }
    .star-img {
        flex: 1;
        position: relative;
        height: 20px;
        object-fit: cover;
    }
</style>
<script>
    const ratio = 20;
    const createStar = (w) => {
        const starContainer = document.createElement('div');
        starContainer.className = 'star-container';
        if (w != 0) {
            const fullStar = document.createElement('img')
            fullStar.className = 'star-img';
            fullStar.src = '/static/img/star.svg';
            fullStar.style.width = `${w}px`;
            fullStar.style.objectPosition = `-${ratio}px 0`;
            starContainer.appendChild(fullStar);
        }
        const emptyStar = document.createElement('img')
        emptyStar.className = 'star-img';
        emptyStar.src = '/static/img/star.svg';
        emptyStar.style.width = `-${w}px`;
        emptyStar.style.objectPosition = `-${w}px 0`;
        starContainer.appendChild(emptyStar);
        return starContainer;
    };
    const genStars = (id, score) => {
        score = parseFloat(score);
        console.log(id, score);
        const container = document.getElementById(id);

        let stars = document.querySelector(`#${id} .stars`);
        if (stars) return;
        
        stars = document.createElement('div');
        stars.className = 'stars';
        // stars.innerHTML = score;
        for (let i = 0; i < 5; i++) {
            let star;
            if (score >= 1) {
                star = createStar(ratio);
            } else if (score >= 0 && score < 1) {
                star = createStar(score * ratio);
            } else {
                star = createStar(0);
            }
            score -= 1;
            stars.appendChild(star);
        }
        container.appendChild(stars);
    };
</script>
{% endblock %}

{% block content %}
<h1>course</h1>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p>
                    <img class="img-fluid" src="/static/img/category/{{ course.CATEGORY }}.jpg" alt="">
                </p>
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Course Details</span>
                    </h2>
                    <p class="mb-3"><strong class="text-black d-block">Teacher:
                    {% for i in course.INSTR_NAME %}
                        </strong>{{ i.NAME }}&emsp;
                    {% endfor %}
                    </p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Title:</strong>
                        {{ course.TITLE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Category:</strong>
                        {{ course.CATEGORY }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Fee:</strong>
                        NT$ {{ course.COURSE_FEE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-check" aria-hidden="true"></i> Language:</strong>
                        {{ course.LANGUAGE }}</p>
                    <p class="mb-3"><strong class="text-black d-block"><i class="fa fa-comments" aria-hidden="true"></i> Brief:</strong>
                        {{ course.BRIEF }}</p>

                    <!-- <ul class="ul-check primary list-unstyled mb-5">
                        <li>{{ course.Brief }}</li>
                    </ul> -->

                    <p>
                        <a href="/user/enroll/{{ course.COURSE_ID }}" class="btn btn-primary rounded-0 btn-lg px-5">註冊</a>
                    </p>

                </div>
        </div>

        <!-- {% for fb in feedbacks %}
        <div class="row justify-content-center">
            <div class="col-7">
                <div>{{ fb.NAME }}</div>
                <div id="star-container-{{fb.S_ID}}"></div>
                {{ fb.REVIEW }}
            </div>
        </div>
        <script>
            genStars("star-container-{{fb.S_ID}}", '{{fb.STAR}}');
        </script>
        {% endfor %}
        </div> -->

        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 50px;">
            <div class="container">
                <div class="text-center">
                    <h1 class="mb-5">學生評論</h1>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    {% for fb in feedbacks %}
                    <div class="testimonial-item text-center">
                        <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/user.png" style="width: 80px; height: 80px;">
                        <h5 class="mb-0"> {{ fb.NAME }} </h5>
                        <div id="star-container-{{fb.S_ID}}"></div>
                        <script>
                            genStars("star-container-{{fb.S_ID}}", '{{fb.STAR}}');
                        </script>
                        <div class="testimonial-text bg-light text-center p-4">
                            <p class="mb-0"> {{ fb.REVIEW }} </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->



    </div>
</div>
{% endblock %}