{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
<h1>course list</h1>
<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Brief</th>
            <th>Price</th>
            <th>Language</th>
        </tr>
        {% for c in courses %}
            <tr>
                <td>{{ c.COURSE_ID }}</td>
                <td>{{ c.TITLE }}</td>
                <td>{{ c.CATEGORY }}</td>
                <td>{{ c.Brief }}</td>
                <td>{NT${ c.COURSE_FEE }}</td>
                <td>{{ c.LANGUAGE }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}