{% extends 'base.html' %}

{% block title %} {{instructor_id}} {% endblock %}

{% block content %}

<!-- div for main contents -->
<div class="container-outside">

    <!-- Show instructor name in the h1 -->
    <h1 style="text-align: center;">Welcome, {{ instructor_id }}</h1> 

    <!-- div for the table -->
    <div class="container-inside">
        <!-- button to create new course -->
        <form method="POST" action="/instructor/create">
            <input type="submit" value="新增課程">
        </form>
        

        <table style="border: 1px solid; margin: auto; width: 100%; margin-top: 20px;">
            <tbody>
                <tr>
                    <th>課程編號</th>
                    <th>課程名稱</th>
                    <th>課程費用</th>
                    <th>授課語言</th>
                </tr>
                {% for c in courses %}
                    <tr>
                        <td>{{ c.COURSE_ID }}</td>
                        <td>{{ c.TITLE }}</td>
                        <td>{{ c.COURSE_FEE }}</td>
                        <td>{{ c.LANGUAGE }}</td>
                        <td class="table-button">
                            <form method="POST" action="/instructor/{{ c.COURSE_ID }}/view">
                                <input type="submit" value="view">
                            </form>
                        </td>
                        <td class="table-button">
                            <form method="POST" action="/instructor/{{ c.COURSE_ID }}/edit">
                                <!-- <input type="hidden" name="course_id" value="{{ c.COURSE_ID }}"> -->
                                <input type="submit" value="edit">
                            </form>
                        </td>
                        <td class="table-button">
                            <form method="POST" action="/instructor/{{ c.COURSE_ID }}/delete">
                                <input type="submit" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}