{% extends 'base.html' %}

{% block title %} {{instructor_id}} {% endblock %}

{% block content %}

<!-- div for main contents -->
<div class="container-outside">

    <!-- Show instructor name in the h1 -->
    <h1 style="text-align: center;">Welcome, {{ instructor_id }}</h1> 

    <!-- div for the table -->
    <div class="container-inside">
        <!-- button to create new course -->
        <button><a href="/instructor/create">新增課程</a></button>
        

        <table style="border: 1px solid; margin: auto; width: 100%; margin-top: 20px;">
            <tbody>
                <tr>
                    <th>課程編號</th>
                    <th>課程名稱</th>
                    <th>課程費用</th>
                    <th>授課語言</th>
                </tr>
                {% for c in courses %}
                    <tr>
                        <td>{{ c.COURSE_ID }}</td>
                        <td>{{ c.TITLE }}</td>
                        <td>{{ c.COURSE_FEE }}</td>
                        <td>{{ c.LANGUAGE }}</td>
                        <td>
                            <button>
                                <a href="/instructor/{{ c.COURSE_ID }}/view">
                                    view
                                </a>
                            </button>
                        </td>
                        <td>
                            <button>
                                <a href="/instructor/{{ c.COURSE_ID }}/edit">
                                    <!-- <input type="hidden" name="course_id" value="{{ c.COURSE_ID }}"> -->
                                    Edit
                                </a>
                            </button>
                        </td>
                        <td>
                            <button>
                                <a href="/instructor/{{ c.COURSE_ID }}/delete">
                                    Delete
                                </a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}