{% extends 'base.html' %}

{% block title %} {{instructor_id}} {% endblock %}

{% block content %}

<!-- div for main contents -->
<div class="container-outside">

    <h1 style="text-align: center;">新增課程</h1> 

    <!-- div for the table -->
    <div class="container-inside">
        <form method="POST">
            <table style="border: 1px solid; margin: auto; width: 50%;">
                <tr>
                    <td>課程編號</td>
                    <td><input type="number" id="course_id" name="course_id" value="{{ course }}" readonly></td>
                </tr>
                <tr>
                    <td>課程名稱</td>
                    <td><input type="text" id="course_title" name="course_title"></td>
                </tr>
                <tr>
                    <td>課程類別</td>
                    <td>
                        <select id="course_cate" name="course_cate">
                            <option value="資訊類">資訊類</option>
                            <option value="語言類">語言類</option>
                            <option value="工程類">工程類</option>
                            <option value="生科類">生科類</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>課程敘述</td>
                    <td><input type="text" id="course_brief" name="course_brief"></td>
                </tr>
                <tr>
                    <td>課程費用</td>
                    <td><input type="number" id="course_fee" name="course_fee"></td>
                </tr>
                <tr>
                    <td>使用語言</td>
                    <td><input type="text" id="course_lang" name="course_lang"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="確定新增">
                    </td>
                </tr>
            </table>
            
        </form>
    </div>
    
</div>
{% endblock %}