{% extends 'base.html' %}

{% block title %} {{course_desc.COURSE_ID}} {% endblock %}

{% block content %}

<!-- div for main contents -->
<div class="container-outside">

    <!-- Show instructor name in the h1 -->
    <h1 style="text-align: center; margin-top: 50px;">課程名稱: {{ course_desc.TITLE }}</h1> 

    <!-- div for the table -->
    <div class="container-inside">
        
        <table style="border: 1px solid; margin: auto; margin-top: 40px; width: 100%;">
            <tbody>
                <tr>
                    <th>課程費用</th>
                    <th>課程概述</th>
                    <th>授課語言</th>
                </tr>
                <tr>
                    <td>{{ course_desc.COURSE_FEE }}</td>
                    <td>{{ course_desc.BRIEF }}</td>
                    <td>{{ course_desc.LANGUAGE }}</td>
                </tr>
            </tbody>
        </table>

        <!-- table of course contents -->
        <table style="border: 1px solid; margin: auto; margin-top: 40px; width: 100%;">
            <tbody>
                <tr>
                    <th>章節編號</th>
                    <th>章節主題</th>
                    <th>估計學習時間</th>
                    <th>檔案類型</th>
                    <th>檔案路徑</th>
                    <th>是否強制完成</th>
                </tr>
                {% for content in contents %}
                <tr>
                    <td>{{ content.CHAPTER_ID }}</td>
                    <td>{{ content.CHAPTER_TITLE }}</td>
                    <td>{{ content.REQUIRED_TIME }}</td>
                    <td>{{ content.TYPE }}</td>
                    <td>{{ content.FILE_PATH }}</td>
                    <td>{{ content.IS_MANDATORY}}</td>
                    <td>
                        <!-- delete content -->
                        <form method="POST" action="/instructor/delete_content">
                            <input type="hidden" id="course_id" name="course_id" value="{{ course_desc.COURSE_ID }}">
                            <input type="hidden" id="content_id" name="content_id" value="{{ content.CONTENT_ID }}">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}

                <!-- add new content -->
                <form method="POST" action="/instructor/add_content">
                    <input type="hidden" id="course_id" name="course_id" value="{{ course_desc.COURSE_ID}}">
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" id="chapter_title" name="chapter_title">
                        </td>
                        <td>
                            <input type="number" step="0.1" id="required_time" name="required_time">
                        </td>
                        <td>
                            <select id="type" name="type">
                                <option value="pdf">pdf</option>
                                <option value="ppt">ppt</option>
                                <option value="word">word</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="file_path" name="file_path">
                        </td>
                        <td>
                            <select id="mandatory" name="mandatory">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <input type="submit" value="新增教材">
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}